{% extends "layout.html" %}

    {% block title %} New Item {% endblock %}
    {% block link %} <link rel="stylesheet" href="../static/CSS/add_item.css"> {% endblock %}
    {% block script %} <script src="../static/Javascript/add_item.js" defer></script> {% endblock %}

{% block main %}
    <div class="item-details"></div>
        <form action="/newitem" method="post">
                <div class="section item-info">
                    <h4>Item details</h4>
                    <!-- type inputs -->
                    <div class="Servce-type">
                        <div class="text">Product type</div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input req" type="radio" name="service_type" id="inlineRadio1" value="Goods" required>
                            <label class="form-check-label" for="inlineRadio1">Goods</label>
                        </div>
                        <div class="form-check form-check-inline req">
                            <input class="form-check-input" type="radio" name="service_type" id="inlineRadio2" value="Services" required>
                            <label class="form-check-label" for="inlineRadio2">Services</label>
                        </div>
                        <p class="radio"></p>
                    </div>

                    <!-- item details -->
                    <div class="prompts">
                        <div class="mb-3 prompt">
                            <label for="exampleFormControlInput1" class="form-label">Item Name</label>
                            <input type="text" class="form-control required" id="exampleFormControlInput1"  name="item_name" placeholder="Eg. Computer" required>
                            <p class="danger"></p>
                        </div>
                        <div class="mb-3 prompt">
                            <label for="exampleFormControlInput2" class="form-label">Catagory</label>
                            <input type="text" class="form-control required" id="exampleFormControlInput2"  name="catagory" placeholder="Electronics" required>
                            <p class="danger"></p>
                        </div>
                        <div class="mb-3 prompt">
                            <label for="exampleFormControlInput3" class="form-label">Quantity</label>
                            <input type="number" class="form-control required" id="exampleFormControlInput3"  name="quantity" placeholder="50" min="1" required>
                            <p class="danger"></p>
                        </div>
                        <div class="mb-3 prompt">
                            <label for="exampleFormControlTextarea2" class="form-label">Item Description</label>
                            <textarea class="form-control" id="exampleFormControlTextarea2" rows="1" name="item_description" ></textarea>
                        </div>
                    </div>
                </div>
                <hr>
                <!-- Vendor and item information -->
                <div class="section vendor-info">
                    <div class="prompts">
                        <div>
                            <select class="form-select prompt required" aria-label="Default select example" name="Vendor" required>
                                <option value="" selected disabled>Vendor</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                            <p class="danger"></p>
                        </div>
                        <div>
                            <select class="form-select prompt required" aria-label="Default select example" name="Brand" required>
                                <option value="" selected disabled>Brand</option>
                                <option value="1">Nike</option>
                                <option value="2">Addidas</option>
                                <option value="3">Puma</option>
                                <option value="4">Dior</option>
                            </select>
                            <p class="danger"></p>
                        </div>
                        <div class="input-group prompt">
                            <span class="input-group-text">Dimensions</span>
                            <input type="number" aria-label="length" class="form-control" min="1" name="length" placeholder="length">
                            <input type="number" aria-label="width" class="form-control" min="1" name="width" placeholder="width">
                            <input type="number" aria-label="height" class="form-control" min="1" name="height" placeholder="height">
                        </div>
                        <div>
                            <select class="form-select prompt required" aria-label="Default select example" name="unit" required>
                                <option value="" selected disabled>select unit</option>
                                <option value required="1">Kg</option>
                                <option value="2">g</option>
                                <option value="3">lb</option>
                                <option value="3">oz</option>
                            </select>
                            <p class="danger"></p>
                        </div>
                    </div>
                </div>
                <hr>
                <!-- purchase information inputes -->
                <div class="section sales-info">
                    <h4>Purchase Information</h4>
                    <div class="prompts">
                        <div class="mb-3 prompt">
                            <label for="exampleFormControlInput4" class="form-label">Purchase Price</label>
                            <input type="number" class="form-control required" id="exampleFormControlInput4" name="purchase_price" placeholder="$30" required min="1">
                            <p class="danger"></p>
                        </div>
                        <div class="mb-3 prompt">
                            <label for="exampleFormControlInput5" class="form-label">Selling Price</label>
                            <input type="number" class="form-control required" id="exampleFormControlInput5" name="selling_price" placeholder="$50" required min="1">
                            <p class="danger"></p>
                        </div>
                        <div class="mb-3 prompt">
                            <label for="exampleFormControlInput6" class="form-label">Tax</label>
                            <input type="number" class="form-control" id="exampleFormControlInput6" name="Tax" placeholder="15%" min="1">
                        </div>
                        <div class="mb-3 prompt">
                            <label for="exampleFormControlTextarea7" class="form-label">Purchase Description</label>
                            <textarea class="form-control" id="exampleFormControlTextarea7" rows="1" name="purchase_description" placeholder=""></textarea>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="section track-inventory">
                    <!-- inventory track inputs -->
                    <h4>Track Inventory</h4>
                    <div class="prompts">
                        <div class="mb-3 prompt">
                            <label for="exampleFormControlInput8" class="form-label">Reorder Point</label>
                            <input type="number" class="form-control required" id="exampleFormControlInput8" name="reorder_point" placeholder="5" required min="1">
                            <p class="danger"></p>
                        </div>
                        <div class="mb-3 prompt">
                            <label for="exampleFormControlInput9" class="form-label">Reorder Quantity</label>
                            <input type="number" class="form-control required" id="exampleFormControlInput9" name="reorder_quantity" placeholder="50" required min="1">
                            <p class="danger"></p>
                        </div>
                        <div class="mb-3 prompt">
                            <label for="exampleFormControlInput10" class="form-label">Store Location</label>
                            <input type="text" class="form-control required" id="exampleFormControlInput10" name="store_location" placeholder="EG.A1" min="1" required>
                            <p class="danger"></p>
                        </div>
                    </div>
                    <div class="submit">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-secondary cancelButton">Cancel</button>
                    </div>
                </div>
        </form>
    </div>

{% endblock %}